.fromContainer {
  background-color: rgb(141, 193, 245);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.fromwraper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 30px 60px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #5d5b8d;
}
.title {
  color: #5d5b8d;
  font-size: 16px;
  margin-top: 8px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1.4em;
  align-items: center;
  border-radius: 6px;
  border: none;
  color: rgb(246, 238, 238);
  font-size: 14px;
  cursor: pointer;
  background-color: rgb(91, 137, 183);
  transition: ease-in 0.1s;
  margin-bottom: 18px;
  height: 36px;
  font-size: 16px;
}
.buttonContainer:active {
  scale: 0.8;
}

.file {
  margin-top: 20px;
}

.avatar {
  display: flex;
  align-items: center;
  color: #5d5b8d;
  gap: 1rem;
  margin-top: 16px;
  cursor: pointer;
  border-bottom: 1px solid rgb(175, 175, 175);
  padding-bottom: 20px;
}
.avatar > img {
  width: 52px;
  height: 52px;
}

/* Home */

.home {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 1px solid white;
  height: 80%;
  width: 70%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.registerImageFiled {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.errorMessage {
  color: rgb(220, 0, 0);
  margin-top: 0.4rem;
}

.googleConatiner {
  margin-top: 1rem;
  border-radius: 4px;
  overflow: hidden;
}
.googleConatiner:hover {
  overflow: visible;
}
.orLine {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 0.6rem;
}
.orLine::before {
  content: "";
  border-bottom: 1px solid rgb(202, 198, 198);
  width: 40%;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.orLine::after {
  content: "";
  border-bottom: 1px solid rgb(202, 198, 198);
  margin-top: 4px;

  width: 40%;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.6rem;
  margin: 1.6rem 0;
}

.loading {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 4px solid;
  border-color: aqua;
  border-top-color: aqua;
  border-right-color: aqua;
  border-bottom-color: transparent;
  animation: loader 0.8s infinite;
}

@keyframes loader {
  100% {
    rotate: 360deg;
  }
}

.profile_image {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
